.mat-list-item {
    background-color: #59565a;

    .a {
        display: flex;
        align-items: center;
        text-align: center;
        color: #fffcfc;
        text-decoration: none; /* Remove underline */
    }

    .a mat-icon {
        margin-right: 5px; /* Adjust margin between icon and text */
    }

    &.selected {
        background-color: #5a187d; /* Change background color for selected menu item */
    }
}

.spacer {
    height: 10px; /* Adjust the height of the spacer */
}
